<div class="player">
  <div class="player-media">
    <video #video>
      <source [src]="videoSrc">
    </video>
  </div>
  <div class="player-toolbar">
    <div class="player-timeline" #timeline (click)="timelineChange($event)">
      <div class="finished-line"
           [ngStyle]="{'width': (timeline$ | async)}"
      ></div>
    </div>
    <div class="buttons-line">
      <div class="play" *ngIf="!playState"
           (click)="play()"
      ></div>
      <div class="pause" *ngIf="playState"
           (click)="pause()"
      ></div>
      <div class="stop" (click)="stop()">
      </div>
      <span class="player-toolbar__duration">{{currentTime$ | async | date: 'mm:ss'}} : {{videoDuration$ | async | date: 'mm:ss'}}</span>
    </div>
  </div>
</div>
