:host {
  width: 100%;
}

.player {
  width: 100%;
  position: relative;

  &-media {
    width: 100%;

    video {
      width: 100%
    }
  }

  &-toolbar {
    width: 100%;
    position: absolute;
    bottom: 0;
    padding: 1em;
    background-color: rgba(51, 51, 51, 0.69);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .play {
      width: 0;
      height: 0;
      border-top: 0.6em solid transparent;
      border-bottom: 0.6em solid transparent;
      border-left: 1em solid white;
    }

    .pause {
      width: 0.3em;
      height: 1em;
      background: white;
      &:after {
        content: '';
        display: block;
        width: 0.3em;
        height: 1em;
        background: white;
        margin-left: 0.5em;
      }
    }
  }
}
